html,body{
    height:100%;
    width:100%;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Yrsa', serif;
    text-align: center;
    text-decoration: none;
}



#header{
    background-image: linear-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0.35)), url("../img/front1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    min-height:110vh; 
    border-bottom: solid #050035 2px;
    color: #050035;
    background-attachment: fixed;  
}

#header h1{
    font-size:11vw;
    padding-top:200px;
    padding-bottom:120px;
}

#header li{
    display:inline;
    color: #111111;
    font-size:20px;
    padding:10px;
    border: solid rgb(156, 218, 247) 1px;
    outline: none;
    background-color:  #555;
    cursor: pointer;
    border-radius: 10px;
    color:rgb(156, 218, 247);
    margin:10px;
    font-weight:bold;
}

#header li:hover {
    background-color:#050035;
}

/* h2 to all sections */
h2{
    padding-top:45px;
    font-size:55px;
}

@media only screen and (max-width:500px){
    #header li{
        font-size:14px;
        padding:7px;
        margin:2px;
    }

    #header h1{
        font-size:13vw;
    }

    h2{
        font-size:35px;
    }
}



#section1{
    min-height:120vh;
    background-image: linear-gradient(rgba(255,255,255,0.65),rgba(255,255,255,0.65)), url("../img/mount.jpg");
    background-attachment: fixed;
    border-bottom: solid #050035 2px;
    color:#050035;
}

.imgs{
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-bottom:55px;
    margin-top:30px;
}

.imgs img{
    margin:15px;
    width:350px;
    height:350px;
    cursor:pointer;
    border:solid #050035 1px;
}

@media only screen and (max-width:500px){
    .imgs img{
        width:200px;
        height:200px;
    }
}



#gallery{
    color:#050035;
    background-image: linear-gradient(rgba(255,255,255,0.55),rgba(255,255,255,0.55)), url("../img/Sky.jpg"); 
    background-attachment: fixed;
    background-size:cover;
    text-align:center;
    border-bottom: solid #050035 2px;
}

.slider{
    display:flex;
    justify-content: center;
}

#slide{
    width:70vw;
    height:40vw;
    margin-bottom:55px;
    margin-top:30px;
    border:solid #050035 1px;
}

.prev, .next{
    margin-top:30px;
    height:40vw;
    width: 7vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:9vw;
    border:solid #050035 1px;
}

.next:hover, .prev:hover{
    background-image: linear-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0.35)), url("../img/section2.jpg");
    opacity:1;
    font-weight:bold;
    cursor:pointer;
}

@media only screen and (max-width:500px){
    #slide{
        width:80vw;
        height:46vw;
    }
    .prev, .next{
        height:46vw;
    }
}



#section2{
    min-height:680px;
    background-image: linear-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0.35)), url("../img/section2.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom: solid #050035 2px;
    color: #050035;
    position:relative;
}

#section2 p{
    margin:150px;
    font-size:20px;
    color: #050035;
    text-align: center;
    opacity:1;
    font-weight: bold;
}

@media only screen and (max-width:700px){
    #section2 p{
        margin: 10px;
        margin-top:100px;
        font-size:20px;
    }
}



#section3{
    min-height:96vh;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url("../img/water.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    border-bottom: solid #050035 2px;
    color: #050035;
}

#section3 a{
    color: #050035;
}

form{
    padding-top: 10px;
    font-size:20px;
}

input, textarea{
    margin-bottom:10px;
    font-size:20px;
    width:300px;
}

textarea{
    height:120px;
    border: 2px solid transparent;
}

h3, #github, label{
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
}

#section3 > h3{
    font-size:23px;
    width:300px;
    margin:auto;
    border:1px solid #050035;
}

#btn{
    width:100px;
    font-size:20px;
    padding:10px;
    border: solid rgb(156, 218, 247) 1px;
    border-radius: 10px;
    outline: none;
    background-color:  #555;
    cursor: pointer;
    color:rgb(156, 218, 247);
    margin:10px;
    font-weight:bold;
    margin-bottom:30px;
}

#btn:hover{
    background-color:#050035;
}

footer{
    background-color:#050035;
    height:4vh;
    font-weight: bold;
    font-size:3vh;
    color:rgb(156, 218, 247);
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: solid rgb(156, 218, 247) 1px;
    outline: none;
    background-color:  #555;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    color:rgb(156, 218, 247);
    font-size:20px;
    font-weight:bold;
    z-index:1;
}

@media only screen and (max-width:500px){
    #top{
        font-size:14px;
        padding:7px;
        margin:7px;
        bottom: 15px;
        right: 20px;
    }
}
  
#top:hover {
    background-color:#050035;
}